# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
broadcast/**/run-latest.json
src/1d-RandomWalk/random_walk
src/1d-RandomWalk/function_trace.txt
